@import '../../styles/global.scss';

._{
    .container{
        .content{
            .header{
                display: flex;
                justify-content: space-between;
                .header_title{
                    h2{
                        color:$black;
                    }
                    small{
                        color:$text-gray;
                    }
                }
            }
        }
    }
}