@import '../../styles/global.scss';

._{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:$break-point-s) {
            flex-direction: column;
        }
        .display_text{
            @media (max-width:$break-point-s) {
                margin-bottom:20px;
            }
            p{
                color:$text-gray;
            }
        }
        .page_btn_container{
            display: flex;
            align-items: center;
            > * {
                margin-right:20px;
                transition: .5s;
                &:last-of-type{
                    margin-right: 0;
                }
            }
            .num_btn{
                background-color: transparent !important;
                border: none;
                color:$text-gray;
                width:inherit;
                height: inherit;
                border-radius: 50%;
                align-self: center;
                &:nth-last-of-type(2),  &:nth-last-of-type(3){
                    @media (max-width:$break-point-s) {
                        display: none;
                    }
                }
                &:hover{
                    background: $bg-gradient;
                    color: $white;
                    box-shadow: $general-box-shadow;
                    padding:9px 14px;
                }
            }

            .active_btn{
                background: $bg-gradient;
                color: $white;
                border: none;
                box-shadow: $general-box-shadow;
                // filter: drop-shadow(2px 2px 2px $indigo);
                padding:9px 14px;
            }

            .direction_btn{
                background: $white !important;
                border: none;
                color:$text-gray;
                width:100%;
                height: 100%;
                border-radius: 50%;
                padding:8px 10px;
                box-shadow: $general-box-shadow;
            }
        }
    }
}