@import "../../styles/global.scss";

._{    
    position: sticky;
    top: 0;
    .container{
        @extend %container;
        padding-right:30px;
        .content{
            background-color: $indigo;
            // border-radius: 10px;
            width:100%;
            padding:30px 15px;
            box-shadow: $general-box-shadow;
            .filter_title{
                color: $white;
                display: flex;
                align-items: center;
                padding-bottom:10px;
                border-bottom: 2px solid $yellow;
                text-transform: uppercase;
                .filter_icon{
                    font-size:25px;
                    margin-right:10px;
                    color:$yellow;
                }
                h3{
                    font-size:18px;
                }
            }
            .filter_list{
                ul{
                   list-style-type: disc; 
                   transition:800ms;
                   p{
                       color: $pale-purple;
                       font-style: italic;
                   }  
                }
            }
        }
    }
}