@import '../../styles/global.scss';

._{
    position: relative;
    .search_input{
        height: 45px !important;
        background: #FFFFFF !important;
        border: 1.5px solid $indigo !important;
        border-radius: 10px !important;
        padding-top: 0 !important;
        padding-left:40px !important;
        width:100% !important;
    }
    .search_icon{
        position: absolute;
        top:15px;
        left: 15px;
        color: $text-gray;
    }
}