.form_group{
    position: relative;
    .input_label{
        .input{
            position: relative;
            background: $white;
            border: 1px solid $indigo;
            box-sizing: border-box;
            backdrop-filter: blur(150px);
            border-radius: 15px;
            height: 60px;
            width:100%;
            outline: transparent !important;
            padding-left:50px;
            padding-top:20px;
        }
    }
    .input_icon{
        position: absolute;
        top:35%;
        left:18px;
    }
}

._{
    .textarea{
        width:100%;
        outline: transparent;
    }
}