@import '../../styles/global.scss';

.catalogue_header{
    @extend %container;
    margin-top:40px;
    position: sticky;
    top:0;
}

._{
    margin-bottom:50px;
    overflow-x: auto;
        &::-webkit-scrollbar{
            width: 7px;
            height:7px;       
        }
        &::-webkit-scrollbar-track{
            background :$pale-purple;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background :$indigo;
            border-radius: 5px;         
        }
    .container{ 
        @extend %container;  
        min-width: 1000px !important;
        .table_head{
            display: grid;
            grid-template-columns: 1.5fr 1.5fr repeat(6, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            color: $indigo;
            font-weight: 600;
            margin:15px 0;
            padding:0px 25px;
        }
    }
}