@import '../../styles/global.scss';

._{
    background-color: $white;
    padding-top:20px;
    padding-bottom:20px;
    .container{
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            color:$indigo;
            a{
                text-decoration: none;
            }
        }
        @media (max-width:$break-point-l) {
            .hamburger_menu{
                height:25px;
                width:37px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span{
                    width:100%;
                    height:3.2px;
                    background-color:$indigo;
                    position: absolute;
                    border-radius: 6px;
                    &:nth-child(1){
                        top:0px;
                        transition: all .5s ease-in-out;
                        align-self: flex-end;
                    }
    
                    &:nth-child(2){
                        top:10px;
                        width:75%;
                        transition: all .5s ease-in-out;
                        align-self: flex-end;
                    }
    
                    &:nth-child(3){
                        top:20px;
                        width:50%;
                        transition: all .5s ease-in-out;
                        align-self: flex-end;
                    }
                }
            }
            .hamburger_menu.toggle{
                span{
                    &:nth-child(1){
                        top:10px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        top:10px;
                        width: 100%;
                        transform: rotate(-45deg);
                    }
                }
            }    
        }
        .nav_menu{
            @media (max-width:$break-point-l) {
               display: none;
            }
            ul.menu_list{
                list-style-type: none;
                display: flex;
                margin:0;
                li{
                    margin-right:50px;
                    cursor: pointer;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    a{
                        color:$text-gray;
                        text-decoration: none;
                        font-weight: bold;
                        &:hover{
                            color:$indigo;
                        }
                    }
                    a.selected{
                        color:$indigo;
                        font-weight: bold;
                    }
                }
            }
        }

        @media (max-width:$break-point-l) {
            .nav_menu.toggle{
                background-color: $white;
                display: block !important;
                position: fixed;
                top:68px;
                right:0;
                height:20vh;
                // border-radius: 10px;
                transition: 800ms;
                z-index: 999;
                ul.menu_list{
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height:inherit;
                    margin:0;
                    li{
                        margin-right:50px;
                        cursor: pointer;
                        &:last-of-type{
                            margin-right: 0;
                        }
                        a{
                            color:$text-gray;
                            text-decoration: none;
                            font-weight: bold;
                            &:hover{
                                color:$indigo;
                            }
                        }
                        a.selected{
                            color:$indigo;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}