@import '../../styles/global.scss';

._{
    background-color: $white;
    padding-top:5px;
    padding-bottom:5px;
    .container{
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            color:$indigo;
        }
        .nav_menu{
            ul.menu_list{
                list-style-type: none;
                display: flex;
                li{
                    margin-right:50px;
                    cursor: pointer;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    a{
                        color:$text-gray;
                        text-decoration: none;
                    }
                    a.selected{
                        color:$indigo;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}